{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Raleway|Lato:400,700|Bree+Serif&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <title>Robin Yonge</title>
    
    </head>
    <body>
        
        <div class="page-header">
            {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            {% endif %}
            <h3><a href="http://www.robinyonge.co.uk">Hey buddy! You're on my development site right now, click here.</a></h3>
            <h1><a href="http://www.robinyonge.co.uk">Robin Yonge</a></h1>
            <h2>Sound Recording, Design, and Tech I guess?</h2>
        </div>
     
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    
                    {% endblock %}
                </div>
            </div>
        </div>
        
    </body>
</html>