{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Raleway|Lato:400,700|Bree+Serif&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <title>Robin Yonge</title>
    </head>
    
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                <a href="{% url 'project_new' %}" class="top-menu"><span class="glyphicon glyphicon-film"></span></a>
            {% endif %}
                <span class="title">
                    <h3>Hey buddy! This site's currently (and perpetually will be) in development. If anything seems janky, that's why!</a></h3>
                    <h1><a href="http://www.robinyonge.com">Robin Yonge</a></h1>
                    <h2>Sound Recording, Design, and Tech I guess?</h2>
                </span>
        </div>
     
        <div class="row row-offcanvas row-offcanvas-right">
            
            <div class="col-xs-11 col-sm-9">
            <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle Sidebar</button>
            </p>
                <div class="block container">
                            {% block content %}

                            {% endblock %}
                </div>  
            </div>
                <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 sidebar-offcanvas" id="sidebar">
                   <div class="sidebar-content">
                        <a href="http://www.robinyonge.co.uk/admin"><span class="glyphicon glyphicon-lock" align="right"></span></a>
                        <span class="menu" align="right">
                            <h4><a href="{% url 'post_list' %}">Blog/Home</a></h4> 
                            <h4><a href="{% url 'project_list' %}">Project Gallery</a></h4> 
                        </span>
                            <div class="description" align="left">
                                <h3>Tonlehrling</h3>
                                <p>This site's supposed to be an account of the things that I learn and the work I produce. Usually relating to audio/visual media, programming, The Internet and learning how to be a grown-up.</p>
                                <h4>Currently working on:</h4>
                                <p>Audio-centric VR projects + movement mechanics for virtual reality</p>
                                <p>Pre-production on an independent TV Pilot</p>
                                <p>Learning in more depth about CS/Programming</p>
                                <p>Fixing the very messy frontend on this site</p>
                                <p>A chatbot for some reason</p>
                                <h4>Currently Reading:</h4>
                                <p>Code: The Hidden Language of Computer Hardware and Software - Charles Petzold</p>
                            </div>

                            <div class="social" align="center">
                                <a class="twitter-timeline" href="https://twitter.com/tonlehrling" data-widget-id="695160703179714560">Tweets by @tonlehrling</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                            </div>
                    </div>
                </div>
            
        </div>   
    </body>
    
    <footer>
            <div class="row">
                <div class="col-sm-6 footer-left" align="left">
                    <a href="#" class="foot-menu"><span class="glyphicon glyphicon-eject"></span></a>
                    <span class="footer text">
                        <h4>Features In Development:</h4>
                        <p>- Tag model for blog posts - tagging by subject matter</p>
                        <p>- Better navbar - with a dropdown for the blog selector displaying a list of subject tags to navigate to</p>
                        <p>- Improved gallery - .gif thumbnails that activate on mouseover instead of embeds, nicer layout</p>
                        <p>- Redesigned header/layout - I'm not entirely sure about the layout/colour scheme, it's based on my old site for simplicity of development</p>
                    </span>
                </div>

                <div class="col-sm-6 footer-right" align="right">
                    <span class="footer text">
                        <h4><a href="https://github.com/gilmoregrills/django-site">Website Github Repo</a></h4>
                        <h4><a href="https://twitter.com/tonlehrling">Twitter</a></h4>
                        <h4><a href="https://uk.linkedin.com/in/robinyonge">LinkedIn</a></h4>
                        <h4><a href="https://twitter.com/tonlehrling">Instagram</a></h4>

                    </span>
                </div>
            </div>
    </footer>

<!-- Bootstrap core JavaScript [totes stolen from the blog example page b/c whyever not]
    ================================================== 
    <!-- Placed at the end of the document so the pages load faster --> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
   
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</html>
