{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Raleway|Lato:400,700|Bree+Serif&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <title>Robin Yonge</title>
    </head>
    
    <body>
        <div class="authcheck">
        {% if user.is_authenticated %}
            <div class="editor-menu">
                    <a href="{% url 'post_new' %}" class="add-item"><span class="glyphicon glyphicon-plus"></span></a>
                    <a href="{% url 'project_new' %}" class="add-it"><span class="glyphicon glyphicon-film"></span></a>
            </div>
        {% endif %}
        </div>  

        <div class="page-header">
            <span class="Announcement" align="center">
                <h4>Hey buddy! This site's currently (and perpetually will be) in development. If anything seems janky, that's why.</a></h4>
            </span>
            <span class="title" align="center">
                <h1><a href="http://www.robinyonge.com">Robin Yonge</a></h1>
               <!-- <h2>Sound Recording, Design, and Tech I guess?</h2> --> 
            </span>
        </div>
     
        <div class="row row-offcanvas row-offcanvas-right">
            
            <div class="col-xs-11 col-sm-9 main-content" align="left">
                <div class="block container">
                            {% block content %}

                            {% endblock %}
                </div>  
            </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 sidebar-offcanvas" id="sidebar">
                   <div class="sidebar-content">
                        <span class="menu" align="right">
                            <h4><a href="http://www.robinyonge.co.uk/admin"><span class="glyphicon glyphicon-lock" align="right"></span></a></h4>
                            <h4><a href="{% url 'post_list' %}">Blog/Home</a></h4> 
                            <h4><a href="{% url 'project_list' %}">Project Gallery</a></h4> 
                        </span>
                            <div class="description" align="left">
                                <h3>Tonlehrling</h3>
                                <p>My seldom-updated blog, intended to document what I was learning about, might start up again as a nice way to journal what I study on my master's</p>
                                <h4>Currently working on:</h4>
                                <p>An MSc in Computing and Information Systems at QMUL</p>
                                <p>Gearing up for audio postproduction on an indie TV pilot</p>
                                <p>A new site for my mother (THEN I'll fix this one, promise)</p>
                                <h4>Currently Reading:</h4>
				<p>Mostly textbooks for university, but in between those:</p>
                                <p>Computation: Finite and Infinite Machines by Marvin Minsky</p>
                            </div>

                            <div class="social" align="center">
                                <a class="twitter-timeline" href="https://twitter.com/tonlehrling" data-widget-id="695160703179714560">Tweets by @tonlehrling</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                            </div>
                    </div>
                </div>
            
        </div>   
    </body>
    
    <footer>
            <div class="row">
                <div class="col-sm-6 footer-left" align="left">
                    <a href="#" class="foot-menu"><span class="glyphicon glyphicon-eject"></span></a>
                    <span class="footer text">
                        <h4>Features In Development:</h4>
                        <p>- New landing page, using node.js to pull activity from all over the web </p>
                        <p>- Improved gallery - .gif thumbnails that activate on mouseover instead of embeds, nicer layout</p>
                        <p>- Redesigned header/layout - I'm not entirely sure about the layout/colour scheme, it's based on my old site for simplicity of development</p>
                    </span>
                </div>

                <div class="col-sm-6 footer-right" align="right">
                    <span class="footer text">
                        <h4><a href="https://github.com/gilmoregrills/django-site">Website Github Repo</a></h4>
                        <h4><a href="https://twitter.com/tonlehrling">Twitter</a></h4>
                        <h4><a href="https://uk.linkedin.com/in/robinyonge">LinkedIn</a></h4>
                        <h4><a href="https://twitter.com/tonlehrling">Instagram</a></h4>

                    </span>
                </div>
            </div>
    </footer>

<!-- Bootstrap core JavaScript [totes stolen from the blog example page b/c whyever not]
    ================================================== 
    <!-- Placed at the end of the document so the pages load faster --> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
   
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</html>
