<html>
    <head>
        <title>Robin Yonge</title>
    
    </head>
    <body>
        
        <div>
            <h1><a href="http://www.robinyonge.co.uk">Robin Yonge</a></h1>
            <h2>Sound Recording, Design, and Tech I guess?</h2>
        </div>
        
        {% for post in posts %}
            <div>
                <p>Published: {{ post.published_date }}</p>
                <h1><a href ="">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaks }}</p>
            </div>
        {% endfor %}
        
    </body>
</html>