{% extends 'blog/base.html' %}

{% block content %}

    <div class="project" align="center">
        {% if project.created_date %}
            <div class="date">
                {{ project.created_date }}
            </div>
        {% endif %}
        
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'project_edit' pk=project.pk %}" align="right"><span class="glyphicon glyphicon-film"></span></a>
        {% endif %}
            <div class="content">
                <h1>{{ project.title }}</h1>
                    <div class="media">
                         <iframe name="video" width="800" height="450" src="{{ project.content }}"></iframe>
                    </div> 
                    <div class="project-description">
                        <p align="center">{{ project.description }}</p>
                        <p align= "center">{{ project.credits }}</p>
                    </div>
            </div>
            
    </div>

{% endblock %} 