{% extends 'blog/media_list.html' %}

{% block content %}

    <div class="media">
        {% if media.published_date %}
            <div class="date">
                {{ media.published_date }}
            </div>
        {% endif %}
        
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'media_edit' pk=media.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        
        <h1>{{ media.title }}</h1>
            <div class="media">
                <embed>{{ media.content }}</embed>
                <!-- what the fuuuuuck do I put in this section? I guess something like {{ media.content }} I think-->
            </div> 
        <p1>{{ media.description }}</p>
        <p2>{{ media.credits }}</p>
            
    </div>

{% endblock %} 